{% block pokemon_header %}
  <header class="pokemon-header">
    <section class="pokemon-header__section">
      <h1>Ynov 08/11/2024 - Valentin FORTIN</h1>
    </section>

    <section class="pokemon-header__section">
      <a href="{{ path('app_pokemon_list') }}" class="btn btn--primary">Retour à la liste des Pokémon</a>
    </section>
  </header>
{% endblock %}