{% extends 'base.html.twig' %}

{% block header %}
  {% include 'pokemon/partials/_header.html.twig' %}
{% endblock %}

{% block main %}
<main class="content">
  {% block content %}{% endblock %}
</main>
{% endblock %}